<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>EMI Calculator</title>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link href="css/custom.css" rel="stylesheet" type="text/css">
    <script data-require="angular.js@1.4.0-beta.6" data-semver="1.4.0-beta.6" src="https://code.angularjs.org/1.4.0-beta.6/angular.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script src="js/utility.js"></script>
    <script src="js/EMICalculatorCtrl.js"></script>
</head>

<body ng-app="emiApp" ng-controller="EMIController">
    <div><h2><font color="blue"><u>EMI Calculator</u></font></h2> </div>
    <table border="1">
        <tr>
            <td bgcolor="D1D39B">
                <table>
                    <tr>
                        <td colspan="3">
                            <font color="blue" size="4">Let us understand the financial needs</font>
                        </td>
                    </tr>
                    <tr>
                        <td>Customer Name:</td>
                        <td><div ng-model="custName" style="width:200px;"></div></td>
                        <td><input type="text" ng-model="custName" id="txtcustName"></td>
                    </tr>
                    <tr>
                        <td>DOB</td>
                        <td><div ng-model="dob" style="width:200px;"></div></td>
                        <td><input type="date" ng-model="dob" id="rdbDob"></td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td><div ng-model="gender" style="width:200px;"></div></td>
                        <td>
                            <input type="radio" ng-model="gender" value="male" name="gender" /> Male
                            <input type="radio" ng-model="gender" value="female" name="gender" /> Female
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="button" id="btnCalculate" value="Calculate" class="button blueButton" ng-click="calculateEMI()" />
                            <input type="button" id="btnReset" value="Reset" class="button grayButton" ng-click="reset()" />
                        </td>
                    </tr>
                </table>
            </td>
            <td ng-show="ishidden" bgcolor="9BD3BD">
                <table>
                    <tr>
                        <td colspan="3"><font color="blue" size="4">An indicative amount to pay</font></td>
                    </tr>

                    <tr>
                        <td>Total Payment pending for {{custName}} -></td>
                        <td><input type="text" id="txtTP" value="{{totalPayable}}"></td>
                    </tr>
                </table>
            </td>
            <td ng-hide="isperfect" bgcolor="9BD3BD">
                <table>
                    <tr>
                        <td colspan="3"><font color="blue" size="4">Age must be between 18 and 65 years.</font></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>